.comment-info {
  display: flex;
  flex-direction: column;
  margin: 3% 0%;
}

.comment-detail-info {
  display: flex;
  margin-bottom: 3%;
  align-items: center;
}

.comment-rating {
  margin-left: 1%;
}

.delete-btn {
  /*
  display: flex;
  justify-content: center;
  align-items: center;
  */
  width: 22px;
  height: 22px;
  float: right;
}

.comment-date {
  font-size: xx-small;
  color: gray;
  margin-left: 1%;
}

.insert-comment-btn {
  float: right;
}

.comment-input-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5%;
}
