.store-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% 8% 7% 8%;
}

.store-detail-info {
  display: flex;
  flex-direction: column;
}

.store-name {
  font-weight: bold;
  font-size: x-large;
  margin: 0%;
}

.store-phone {
  font-size: small;
  margin: 0%;
}

.store-address {
  font-size: small;
  margin: 0%;
}
.tags {
  display: flex;
}
