.login-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  width: 110px;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
