.sign-in-inputs {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.sign-in-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.5%;
}

.input-name {
  font-weight: bold;
  font-size: medium;
  margin-bottom: 0.5%;
}

.check-btn {
  display: flex;
  margin-left: 2%;
}
