.comment {
  display: flex;
  flex-direction: column;
}

.comment-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: xx-small;
}

.store-link {
  color: black;
  font-weight: bold;
  margin-top: 0.5%;
  margin-right: 0.5%;
}
.comment-name {
  font-size: 15px;
  font-weight: bold;
  margin-right: 0.2%;
}
.comment-date {
  font-size: xx-small;
  margin-left: 0.2%;
  margin-bottom: 1%;
}

.comment-rating {
  margin-top: 0.15%;
}
