.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

button {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0%;
  font-size: small;
}

input::placeholder {
  color: gray;
  font-style: italic;
}

textarea::placeholder {
  color: gray;
  font-style: italic;
}

textarea {
  width: 100%;
  height: 80px;
}

.middle-line {
  width: 100%;
  border-top: 1px solid black;
}
.thin-line {
  width: 100%;
  border-top: 1px dashed black;
  margin-top: 5%;
}

.header {
  display: flex;
  flex-direction: column;
}

.login-out-btn {
  float: right;
}

.search-box {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.tag-box {
  width: 33%;
  height: auto;
  border: 1px solid black;
}
